@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  margin: 1rem;
font-family: 'Roboto', sans-serif;
}

.header {
  margin-bottom: 1rem;
}
